/*comando geral*/
*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --roxo: #81259d;
    --branco: #fff;
    --preto: #222222;
    --roxo-bottom: #8d3dc8;
}

/*corpo padrão*/

body{
    background: var(--roxo);
    font-family: Arial, sans-serif;
}

/*imagem canto esquerdo superior*/

img{
    margin: 26px;
}

/*área descrita login*/

#top{
    border-radius: 0.50rem 0.50rem 0 0;
    width: 448px;
    height: 136px;
    margin: auto;
    background: var(--branco);
    padding: 38px 0 16px 0;
    margin-top: -78px;
}

#top p{
    margin: 21px 0 21px 0;
    font-size: 21px;
    color: var(--preto);  
    text-align: center;
}

/*área de conteúdo, CPF, Senha e botão */

#main{
    background: var(--branco);
    width: 448px;
    height: 448px;
    margin: auto;
    border-radius: 0 0 0.50rem 0.50rem;
}

#content{
    background: var(--branco);
    width: 320px;
    height: 269px; 
    margin: 0px 64px 0px 64px;
}

#content h2{
    color: var(--preto);
    opacity: 0.5;
    font-weight: 200;
    font-size: 12px; 
}

.card{
    padding: 2px 2px 0px 2px;
    width: 320px;
    height: 81px;
    background: var(--branco);
}

input{
    width: 316px;
    height: 39px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: dotted 1px;
    font-size: 20px;
    outline: none;
}

#bottom{
    background: white;
    padding: 26px 32px 17px 32px;
    margin: 60px 0px 0px 0px;
    color: var(--roxo);
    border: solid var(--roxo) 1px;
    border-radius: 0.50rem;
    width: 316px;
    height: 67px;
    text-align: center;
    font-size: 13px;
}

#bottom:hover{
    background: var(--roxo-bottom);
    color: var(--branco);
    cursor: pointer
}

/*área de ajuda do usuário*/

#help{
    background: var(--branco);
    width: 316px;
    height: 56px;
    margin: 48px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: var(--roxo);
}

#help1{
    margin: 24px 0px;
}

#help span:hover{
    color: var(--preto);
    cursor: pointer;
}
